.trend-container {
  padding: 1rem;

  &.bullish {
    background: #e6ffe6;
  }

  &.bearish {
    background: #ffe6e6;
  }

  &.neutral {
    background: #f2f2f2;
  }

  .trend-indicators {
    margin-bottom: 1rem;
    p {
      margin: 0.2rem 0;
    }
  }
}