.option-stricke-section{
    display: inline-flex;
}
.vol-or-openinterets{
    display: inline-flex;
    margin-top: 10px;



}
.common-left-margin{
    margin-left: 10px;
    }
.market-data-checkbox{
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.last-trade-price{
    background-color: greenyellow;
}
