.option-stricke-section{
    display: inline-flex;
}
.vol-or-openinterets{
    display: inline-flex;
    margin-top: 10px;

    .common-left-margin{
    margin-left: 10px;
    }
    .last-trade-price{
        background-color: greenyellow;
    }
}
.market-data-checkbox{
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}

