.ExtremelyBullish{
    background-color: green;
}
.Bullish{
    background-color: lightgreen;
}
.Neutral{
    background-color: whitesmoke;
}
.Bearish{
    background-color: lightcoral;
}
.ExtremelyBearish{
    background-color: red;
}