.qoi-table-container {
  padding: 20px;

  h3 {
    margin-bottom: 10px;
  }
}

.expiry-selector {
  margin-bottom: 12px;
  font-size: 14px;

  select {
    margin-left: 8px;
    padding: 4px 8px;
  }
}

.qoi-chart-wrapper {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}

.qoi-table {
  width: 100%;
  border-collapse: collapse;

  th {
    cursor: pointer;
    background: #efefef;
    padding: 8px;
  }

  td {
    padding: 6px;
    font-size: 14px;
  }

  tr:nth-child(even) {
    background-color: #fafafa;
  }

  th.active {
    background: #d2e3ff;
  }
}

