.recent-oi-change {
  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 6px 10px;
      border: 1px solid #ccc;
      text-align: center;
    }

    th {
      cursor: pointer;
      background: #f4f4f4;
    }

    .diff-positive {
      color: green;
      font-weight: bold;
    }

    .diff-negative {
      color: red;
      font-weight: bold;
    }
  }
}