.recent-oi-change {
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .days-selector {
      select {
        padding: 4px 6px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: lightgreen;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 6px 10px;
      border: 1px solid #ccc;
      text-align: center;
    }

    th {
      cursor: pointer;
      background: #f4f4f4;
    }

    .diff-positive {
      color: green;
      font-weight: bold;
    }

    .diff-negative {
      color: red;
      font-weight: bold;
    }
  }

}